<nav class="navbar navbar-default mb-5">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  [routerLink]="['/']">Sitename</a>
    </div>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/about']">About us </a>
        </li>
    </ul>
    <ul class="nav nav-pills">
     <li><a  [routerLink]="['/login']">Login</a></li>| 
     <li><a [routerLink]="['/register']">Register</a></li>
    </ul>
  </div>
  <hr/>
</nav>